* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffebcd;
}

form{
    display: flex;
    flex-direction: column;
    /* Set flex direction to column */
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.form-group {
    margin-bottom: 10px;
    
}

label {
    margin-bottom: 5px;
}

input[type="submit"] {

    margin-top: 1%;

}

input[type="text"] {
    margin-top: .5%;
    margin-bottom: .5%;
}